.mode{
    display: flex;
    align-items: center;
    height: 70px;
}

.mode_img:hover{
  

}

.mode_img{
    cursor: pointer;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    border-radius: 50%;
}
.dark_mode{
  background-color: #556ee6;;
}