// .apexcharts-canvas {
//   text {
//     fill: $text-muted !important;
//   }
// }

.kpi-dashboard-tab {
	height: 300px;
}
.demo-graph-table .react-table {
	height: 370px;
	overflow-y: scroll;
}
.dashboard-export-btn {
	width: 235px;
	margin-left: 10px;
}
.dashboard-range-picker {
	width: 160px !important;
}
.w-80 {
	width: 80px;
	max-width: 80px;
}

.dash-date-range {
	position: absolute;
	margin-top: 5px;
	z-index: 999;
	box-shadow:
		0px 4px 6px rgba(0, 0, 0, 0.2),
		0px 1px 3px rgba(0, 0, 0, 0.1);
}

.custom-checkbox {
	width: 20px;
	height: 20px;
	margin-right: 8px;
	border-radius: 16px;
}

.rdrStaticRange {
	color: #000;
}

.rdrInputRangeInput {
	background-color: #fff;
}

.dash-element-icon {
	cursor: pointer;
}
.custom-switch-dash {
	display: flex;
	justify-content: start;
	text-align: start;
	vertical-align: middle;
	flex-direction: row-reverse;
}

.css-1p3m7a8-multiValue {
	color: var(--bs-white) !important;
}
